<f:render partial="Breadcrumb" arguments="{_all}"/>
<section class="row" id="page">
    <div class="innerWrap">
        <div class="regularColSet" data-cols="2" data-split="3366">
            <div class="col" id="asideContent">
                <f:format.raw>
                    {subMenu}
                </f:format.raw>
                <f:format.raw>
        			{asideContent}
        		</f:format.raw>
            </div>
            <div class="col" id="maincontent">
                <f:format.raw>
                	{mainContent}
                </f:format.raw>
            </div>
        </div>
    </div>
</section>